/*colors palette variables*/
$white: #fff;
$gray: #898c8f;
$red: #ee2e24;
$red2: #e9aab0;
$gray2: #a6b0cd;
$bg-gray: #3b4148;
$bg-black: #161c21;
$bg-darkblue: #202a37;
$green: #00be0f;
$black: #000;
$dark-blue: #273138;
$bg-project-blue: #223b82;
$bg-project-red: #c92c3a;
$facebook: #4354b3;
$twitter: #0acefa;
$linkedin: #376caa;
$youtube: #de6969;
