/*Graphik Family*/
@font-face {
  font-family: "Graphik Thin";
  src: url(/fonts/Graphik/GraphikThin.otf) format("opentype");
}

@font-face {
  font-family: "Graphik Extralight";
  src: url(/fonts/Graphik/GraphikExtralight.otf) format("opentype");
}

@font-face {
  font-family: "Graphik Light";
  src: url(/fonts/Graphik/GraphikLight.otf) format("opentype");
}

@font-face {
  font-family: "Graphik Regular";
  src: url(/fonts/Graphik/GraphikRegular.otf) format("opentype");
}

@font-face {
  font-family: "Graphik Medium";
  src: url(/fonts/Graphik/GraphikMedium.otf) format("opentype");
}

@font-face {
  font-family: "Graphik Semibold";
  src: url(/fonts/Graphik/GraphikSemibold.otf) format("opentype");
}

@font-face {
  font-family: "Graphik Bold";
  src: url(/fonts/Graphik/GraphikBold.otf) format("opentype");
}

@font-face {
  font-family: "Graphik Black";
  src: url(/fonts/Graphik/GraphikBlack.otf) format("opentype");
}

@font-face {
  font-family: "Graphik Super";
  src: url(/fonts/Graphik/GraphikSuper.otf) format("opentype");
}
