.title-section-container {
  background-color: $dark-blue;
  padding: 3rem;
  padding-top: 4rem;
  text-align: center;
  .content {
    font-family: "Graphik Light";
    .divider {
      background-color: $green;
      height: 3px;
      margin-top: 1rem;
      margin-bottom: 2rem;
      margin-left: auto;
      margin-right: auto;
      width: 70px;
    }
    p {
      margin: 0;
      color: $gray;
      line-height: 1.5rem;
      margin-left: auto;
      margin-right: auto;
      max-width: 1000px;
    }
    h2 {
      margin: 0;
      color: $white;
      font-size: 32px;
    }
  }
  .TopSpacing {
    margin-top: 5rem;
  }
}
